name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 2 * * 4'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2.4.0
    - uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@v6
    - run: sbt -v "+ test:compile"
