name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@a0e7cd24be81bc84f0d7461e02bd1a96980553d7 # v6.4.4
    - run: sbt -v "+ Test/compile"
